.BreadBottom {
	height: 13%;
	width: 70%;
	background: linear-gradient(#f08e4a, #e27b36);
	border-radius: 0 0 30px 30px;
	box-shadow: inset -15px 0 #c15711;
	margin: 2% auto;
}

.BreadTop {
	height: 20%;
	width: 70%;
	background: linear-gradient(#bc581e, #e27b36);
	border-radius: 50% 50% 0 0;
	box-shadow: inset -15px 0 #c15711;
	margin: 2% auto;
	position: relative;
	display: inline-flex;
}

.Seeds1 {
	width: 10%;
	height: 15%;
	position: absolute;
	background-color: white;
	left: 30%;
	top: 50%;
	border-radius: 40%;
	transform: rotate(-20deg);
	box-shadow: inset -2px -3px #c9c9c9;
}

.Seeds1:after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: white;
	left: -170%;
	top: -260%;
	border-radius: 40%;
	transform: rotate(60deg);
	box-shadow: inset -1px 2px #c9c9c9;
}

.Seeds1:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: white;
	left: 180%;
	top: -50%;
	border-radius: 40%;
	transform: rotate(60deg);
	box-shadow: inset -1px -3px #c9c9c9;
}

.Seeds2 {
	width: 10%;
	height: 15%;
	position: absolute;
	background-color: white;
	left: 64%;
	top: 50%;
	border-radius: 40%;
	transform: rotate(10deg);
	box-shadow: inset -3px 0 #c9c9c9;
}

.Seeds2:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: white;
	left: 150%;
	top: -130%;
	border-radius: 40%;
	transform: rotate(90deg);
	box-shadow: inset 1px 3px #c9c9c9;
}

.Meat {
	width: 80%;
	height: 8%;
	background: linear-gradient(#7f3608, #702e05);
	margin: 2% auto;
	border-radius: 15px;
}

.Cheese {
	width: 60%;
	height: 4%;
	margin: 2% auto;
	background: linear-gradient(#f4d004, #d6bb22);
	border-radius: 20px;
}

.Salad {
	width: 60%;
	height: 6%;
	margin: 2% auto;
	background: linear-gradient(#228c1d, #91ce50);
	border-radius: 20px;
}

.Bacon {
	width: 70%;
	height: 2%;
	background: linear-gradient(#bf3813, #c45e38);
	margin: 2% auto;
}

.Burger {
	width: 100%;
	margin: auto;
	height: 250px;
	overflow: auto;
	text-align: center;
	font-weight: bold;
	font-size: 1.2rem;
}

@media (min-width: 1000px) and (min-height: 700px) {
	.Burger {
		width: 700px;
		height: 600px;
	}
}

@media (min-width: 500px) and (min-height: 400px) {
	.Burger {
		width: 500px;
		height: 400px;
		margin-bottom: -200px;
	}
}
