.products .buttons {
	display: flex;
	margin: 0 0 0 150px;
}
.products {
	display: inline-block;
	background: rgb(214, 135, 37);
	width: 500px;
	height: 380px;
}

.products .button {
	margin: 20px;
	display: flex;
}
